*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.toggle-switch{
    width: 50px;
    /* margin: 0 auto; */
    background: lightgrey;
    /* padding: 1rem; */
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid white;
}
.toggle-btn{
    width: 25px;
    height: 23px;
    /* background: yellow; */
    padding: 4px 0px;
    border-radius: 50px;
    border: 2px solid white;
    color: #fff;
}

.on{
    background-color: white;
    /* color: black; */
    transform: translateX(26px);
    transition: ease-in-out 0.4s;
}
.off{
    background-color: black;
    /* color: white; */
    transform: translateX(0);
    transition: ease-in-out 0.4s;
}
