*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-counter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-counter h1{
    font-size: 2rem;
    font-weight: bold;
}
.main-counter span{
    font-size: 4rem;
    font-weight: 900;
}

/* Pokemon Start All Css */
.pokemon-card{
    width: 62%;
    margin: 0 auto;
    background: white;
    box-shadow: 0px 0px 10px #ef94ef63;
    padding: 20px;
    position: relative;
}
.pokemon-card h1{
    font-size: 3rem;
    font-weight: 600;
    margin: 1rem 0rem;
}
.pokemon-card figure, .pokemon-card figure img{
    position: relative;
    width: 100%;
}
.child-div{
    width: 84%;
    height: 90px;
    background: #01e0fe24;
    position: absolute;
    top: 10px;
}
.pokemon-details{
    display: flex;
    font-size: 13px;
    gap: 8px;
}
/* Pokemon End Css */